<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/springweb/a00_com/bootstrap.min.css" >
<style>
	td{text-align:center;}
</style>
<script src="/springweb/a00_com/jquery.min.js"></script>
<script src="/springweb/a00_com/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://developers.google.com/web/ilt/pwa/working-with-the-fetch-api" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function(){
		var vm = new Vue({
			el:".container",
			data:{sch:{dname:"", loc:""}, deptList:[]},
			methods:{
				search:function(){
					if(event.keyCode==13) {
						var sch = this.sch;
						$.ajax({
							url:"/springweb/deptAjax1.do",
							data:sch,
							dataType:"json",
							success:function(data){
								vm.deptList = data.deptList;
							}
						});
						//this.deptList = [{deptno:20, dname:"마케팅", loc:"서울"}]
					}
				}
			}
		});	
	});
</script>
</head>
<body>

<div class="container">
	<div class="jumbotron text-center">
	  <h2 >{{msg}}</h2>
	</div>
	<form id="frm01" class="form-inline"  method="post">
  	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	    <input class="form-control mr-sm-2" placeholder="부서이름" v-model="sch.dname" @keyup="search" />
	    <input class="form-control mr-sm-2" placeholder="부서위치" v-model="sch.loc" @keyup="search"/>
 	</nav>
	</form>
   <table class="table table-hover table-striped">
   	<col width="33">
   	<col width="34%">
   	<col width="33%">
    <thead>
    
      <tr class="table-success text-center">
        <th>부서번호</th>
        <th>부서이름</th>
        <th>부서위치</th>
      </tr>
    </thead>	
    <tbody>
    	<tr v-for="(dept, i) in deptList"><td>{{dept.deptno}}</td><td>{{dept.dname}}</td><td>{{dept.loc}}</td></tr>
    </tbody>
	</table>       
</div>
</body>
</html>