<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >		
<mapper namespace="board.a03_dao.BoardDao">
	<!-- 
	List<Board> getBoardList(Board sch)
	 -->
	 <select id="getBoardList" parameterType="boardSch" resultType="board">
	 	select *
	 	from (
			select rownum cnt, level, b.*
			from board b
			where 1=1
			<!-- mybatis에서 null이 아니고 공백이 아닐 때 -->
			<if test="writer!=null and writer!=''"> 
			and writer like '%' || #{writer} || '%'
			</if>
			<if test="title!=null and title!=''">
			and title like '%' || #{title} || '%'
			</if>
			START WITH refno=0
			CONNECT BY PRIOR NO=refno
			ORDER siblings BY NO DESC)
		where cnt between #{start} and #{end}
	 </select>
	 <insert id="insertBoard" parameterType="board">
	 	insert into board values(board_seq.nextval, #{refno}, #{title}, #{writer}, #{content}, sysdate, sysdate, 0)
	 </insert>
	 <insert id="insertFileInfo" parameterType="fileInfo">
	 	insert into fileInfo values(board_seq.currval, #{pathinfo}, #{fname}, sysdate, sysdate, #{etc})
	 </insert>
	 <select id="getBoard" parameterType="int" resultType="Board">
	 	select *
	 	from board
	 	where no = #{no}
	 </select>
	 <select id="getFileInfo" parameterType="int" resultType="String">
	 	select fname
	 	from fileinfo
	 	where fno = #{fno}
	 </select>
	 <delete id="deleteBoard" parameterType="int">
	 	delete from board where no=#{no}
	 </delete>
	 <select id="login" parameterType="member" resultType="member">
	 	select *
	 	from member
	 	where id=#{id} and pass=#{pass}
	 </select>
	 <update id="updateBoard" parameterType="board">
	 	UPDATE BOARD SET title=#{title}, content=#{content}, uptdte=sysdate WHERE no=#{no}
	 </update>
	 <update id="updateReadCnt" parameterType="int">
		update board
		set readcnt = readcnt+1
		where no = #{no}
	 </update>
	 <select id="totcnt" parameterType="boardSch" resultType="int">
		select count(*)
		from board
		where 1=1
		<if test="writer!=null and writer!=''">
		and writer like '%'||#{writer}||'%'
		</if>
		<if test="title!=null and title!=''">
		and title like '%'||#{title}||'%'
		</if>
	 </select>
</mapper>