<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >		
<mapper namespace="board.a03_dao.BoardDao">
	<!-- 
	List<Board> getBoardList(Board sch)
	 -->
	 <select id="getBoardList" parameterType="board" resultType="board">
		select *
		from board
		where 1=1
		<if test="writer!=null and writer!=''"> <!-- mybatis에서 null이 아니고 공백이 아닐 때 -->
		and writer like '%' || #{writer} || '%'
		</if>
		<if test="title!=null and title!=''">
		and title like '%' || #{title} || '%'
		</if>
		order by no desc
	 </select>
	 <insert id="insertBoard" parameterType="board">
	 	insert into board values(board_seq.nextval, #{refno}, #{title}, #{writer}, #{content}, sysdate, sysdate, 0)
	 </insert>
	 <insert id="insertFileInfo" parameterType="fileInfo">
	 	insert into fileInfo values(board_seq.currval, #{pathinfo}, #{fname}, sysdate, sysdate, #{etc})
	 </insert>
	 <select id="getBoard" parameterType="int" resultType="Board">
	 	select *
	 	from board
	 	where no = #{no}
	 </select>
	 <select id="getFileInfo" parameterType="int" resultType="String">
	 	select fname
	 	from fileinfo
	 	where fno = #{fno}
	 </select>
	 <delete id="deleteBoard" parameterType="int">
	 	delete from board where no=#{no}
	 </delete>
</mapper>