<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	

<mapper namespace="springweb.a02_mvc.a03_dao.A02_DeptDao">
	<select id="getCount" resultType="int" parameterType="int">
		select count(*)
		from dept
		where deptno=#{deptno}
	</select>
	<select id="getDeptName" resultType="dept" parameterType="String">
		select *
		from dept
		where dname LIKE '%'||upper(#{dname})||'%'
	</select>
	<select id="getDeptSal" resultType="deptsal" parameterType="int">
		SELECT deptno, max(sal) mxsal, min(sal) misal
		FROM emp
		GROUP BY deptno
		HAVING deptno = #{deptno}
	</select>
	<resultMap type="dept2" id="dept2Rst">
		<result column="deptno" property="no"/>
		<result column="dname" property="name"/>
		<result column="loc" property="location"/>
	</resultMap>
	<select id="getDept2List" resultMap="dept2Rst">
		select *
		from dept
	</select>
	<select id="getDeptList" parameterType="dept" resultType="dept">
		select *
		from dept2
		where dname like '%'||#{dname}||'%'
		and loc like '%'||#{loc}||'%'
	</select>
	<insert id="insertDept" parameterType="dept">
		insert into dept2
		values(#{deptno}, #{dname}, #{loc})
	</insert>
	<update id="upbDept" parameterType="dept">
		update dept2
		set dname=#{danme},
			loc=#{loc}
		where deptno=#{deptno}
	</update>
</mapper>